body {
  height: 100%;
	color: black;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  margin: 100px auto;
  display: flex;
  max-width: 320px;
  min-width: 320px;
  min-height: 240px;
  position: relative;
	cursor: pointer;
	
}

.wrap {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-image: url(http://s018.radikal.ru/i515/1709/3a/db6a9bbdd5a5.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
	
  
}
.wrap-anim{
	animation: scale 1s 8s;
  animation-fill-mode: forwards;
}
.wrap-opac:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
	animation: opac 3s 1.5s;
  animation-fill-mode: forwards;
  
}
/*
.wrap-opac{
	animation: opac 3s 1.5s;
  animation-fill-mode: forwards;
}
*/

.stars {
  position: absolute;
	height: 40px;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
/*	z-index: 1;*/
  font-size: 30px;
  color: gold;
}
.starsz{
	z-index: 1;
}
.fa {
  margin: 5px;
}

.star1 {
  opacity: 0;
  animation: stars 2s 4.5s, scale 1s 8s;
  animation-fill-mode: forwards;
}
	
.star2 {
  opacity: 0;
  animation: stars 2s 5.5s, scale 1s 8s;
  animation-fill-mode: forwards;
}

.item {
  height: 60px;
  background-color: #000;
  flex: 15%;
  backface-visibility: visible;
}

.anim {
  position: relative;
  background-color: #000;
}
.anim-a {
  animation: anima 4s 1s;
  animation-fill-mode: forwards;
}
.anim-a2 {
  animation: anima 3.5s 1.5s;
  animation-fill-mode: forwards;
}
.anim-a3 {
  animation: anima3 3s 2s;
  animation-fill-mode: forwards;
}
.anim-a4 {
  animation: anima 3s 2.7s;
  animation-fill-mode: forwards;
}
.anim-a5 {
  animation: animb 3s 2.5s;
  animation-fill-mode: forwards;
}
.anim-b {
  animation: animb 4s 0.5s;
  animation-fill-mode: forwards;
}
.anim-b2 {
  animation: animb 3.5s 1.7s;
  animation-fill-mode: forwards;
}
.anim-b3 {
  animation: animb 3s 2.7s;
  animation-fill-mode: forwards;
}
.anim-b4 {
  animation: anima 3s 2.7s;
  animation-fill-mode: forwards;
}

@keyframes anima {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.7) rotateY(60deg) translateX(-20px) skew(-10deg, 5deg);
  }
}
@keyframes stars {
  0% {
    transform: scale(0);
    transform: rotate(-180deg);
  }
  30% {
    transform: scale(0.5);
    transform: rotate(90deg);
  }
  100% {
		
    opacity: 1;
    transform: scale(1);
    transform: rotate(360deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  12% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animb {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.7) rotateY(-60deg) translateX(20px) skew(10deg, -5deg);
  }
}
@keyframes anima2 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.1) rotateY(80deg);
  }
}
@keyframes anima3 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.1) rotateY(-80deg);
  }
}
@keyframes opac {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
