body {
  height: 100%;
	color: #000;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
	margin: 100px auto;
  display: flex;
  max-width: 320px;
  min-width: 320px;
  min-height: 240px;
  background-image: url(http://s018.radikal.ru/i515/1709/3a/db6a9bbdd5a5.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap {
  display: flex;
  flex-flow: row wrap;
  min-width: 320px;
  width: 100%;
  height: 100%;
}

.item {
  height: 60px;
  flex: 15%;
  backface-visibility: visible;
}

.anim {
  position: relative;
  background-color: #000;
}
.anim-a {
  animation: anima 4s 1s;
}
.anim-a2 {
  animation: anima 3.5s 1.5s;
}
.anim-a3 {
  animation: anima3 3s 2s;
}
.anim-a4 {
  animation: anima 3s 2.7s;
}
.anim-a5 {
  animation: anima3 3s 2.5s;
}
.anim-b {
  animation: animb 4s 0.5s;
}
.anim-b2 {
  animation: animb 3.5s 1.7s;
}
.anim-b3 {
  animation: animb 3s 2.7s;
}
.anim-b4 {
  animation: anima2 3s 2.7s;
}

@keyframes anima {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.7) rotateY(80deg) translateX(-20px) skew(-10deg, 5deg);
  }
}
@keyframes animb {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.7) rotateY(-80deg) translateX(20px) skew(10deg, -5deg);
  }
}
@keyframes anima2 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.1) rotateY(80deg);
  }
}
@keyframes anima3 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.1) rotateY(-80deg);
  }
}
