/*----------------------------------   ОБЩИЕ   ---------------------------------------*/


.pageWrapper {
	min-height: 100vh;
	position: relative;
	background-position:center;
  background-size:cover;
	background-repeat: no-repeat;
	background-color: #4a4a4a;
	color: white;
}

.pageWrapper:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

body{
  position: relative; 
	min-width: 320px;
	overflow-x:hidden;
	font-family: 'Open Sans', sans-serif;	
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}


.res {
	padding-left: 0;
	padding-right: 0;
}

img{
	width: 100%;
	height: auto;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
	color: inherit;
  text-decoration: none;
	border: none;
	outline: none;
}



/*----------------------------------   HEADER   ---------------------------------------*/

header{
	min-height: 50px;
	position: relative;
/*	overflow: hidden;*/
/*	border-bottom: 1px solid rgba(255, 255, 255, 0.91);*/
/*	border-bottom: 1px solid rgba(226, 234, 40, 0.3);*/
	/*	background-color: rgba(0, 0, 0, 0.9);*/
	background: linear-gradient(to right,rgba(34, 70, 49, 0.79), rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.8) 70%, rgba(34, 70, 49, 0.79));
	box-shadow: 0px 1px 2px 0px rgba(226, 234, 40, 0.3);
}

.logo{
	display: inline-block;
	width: 40px;
	height: 50px;
	line-height: 70px;
	margin-right: 10px;
	padding: 5px;
	
/*	margin-top: 5px;*/
}
.logo2{
	position: absolute;
	top: 5px;
	left: 50%;
	width: 95px;
	height: 95px;
	background-color: rgb(255, 255, 255);
/*	background: linear-gradient(to right, rgba(255, 255, 255, 0.79) 10%, rgba(249, 255, 79, 0.88) 50%, rgba(255, 255, 255, 0.79) 90%);*/
	border-radius: 50%;
	transform: translate(-50%);
	border: 1px solid rgba(34, 70, 49, 0.79);
/*	box-shadow: 0 0 10px 5px rgba(34, 70, 49, 0.79);*/
	z-index: 2;
}
.logo2 img{
	width: 68px;
	margin-top: 12px;
	margin-left: 8px;
}
.logo img{
	vertical-align: top;
	padding-top: 5px;
}

.brand {
	display: inline-block;
	margin-left: 60px;
}

.brand-name {
	display: block;
	color: #E3EA28;
	text-transform: uppercase;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1.5px;
	padding-top: 5px;
}

.brand-name__discr {
	font-family: 'Open Sans', sans-serif;	
/*	text-shadow: 2px 2px 2px #000000;*/
	display: block;
	color: rgb(255, 255, 255);
	font-weight: 300;
	font-size: 14px;
	word-spacing: 3px;
}

.phone-text{
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Poiret One', cursive;
	letter-spacing: 1px;
	font-size: 17px;
	margin-right: 15px;
}
.head-block i{
	font-size: 24px;
	color: rgba(255, 255, 255, 0.7);
	vertical-align: middle;
	margin-left: 10px;
}

i.fa-phone{
	margin-right: 10px;
	margin-left: 0;
}

.tel-mnu{
	color: #cad039;
	line-height: 50px;
}

.tel-mnu:hover{
	color: #E3EA28;
}

.social{
	display: inline-block;
/*	margin-bottom: 15px;*/
}

.social i:hover{
	color: #E3EA28;
}

.phone a:hover{
	color: #E3EA28;
}



/*----------------------------------   КОНТЕНТ   ---------------------------------------*/


/*----------------------  Навигация   -----------------------*/
.nav-menu{
	margin-top: 120px;
}
.nav-menu ul{
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.nav-menu ul li{
	font-family: 'Lobster', cursive;
	font-size: 28px;
	width: 100%;
	height: 35px;
	margin-bottom: 8px;
	display: block;
}

.nav-menu ul li a{
	transition: all 0.25s ease;
}

.nav-menu ul li a:hover{
	color: rgba(132, 132, 132, 0.8);
}

.nav-menu li.active{
	color: rgba(132, 132, 132, 0.8);
}


/*----------------------  Tab Content Общие   -----------------------*/
.tab-content {
	color: white;
}
.tab-title{
	color: rgba(226, 234, 40, 0.63);
	text-align: center;
	margin-left: 100px;
	font-family: 'Poiret One', cursive;
	margin-top: 60px;
	margin-bottom: 40px;
}


/*----------------------  ГЛАВНАЯ   -----------------------*/

.center-block {
	position: relative;
	min-width: 100%;
	min-height: 300px;
}

/*
.content img{
	width: 600px;	
}
*/

i.fa-flask__big{
	font-size: 180px;
	color: rgba(226, 234, 40, 0.63);
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

i.fa-flask__small{
	font-size: 100px;
	color: rgba(226, 234, 40, 0.63);
	position: absolute;
	top: 50px;
	left:182px;
	transform: rotate(93deg);
}

i.fa-flask__norm{
	font-size: 50px;
	color: rgba(226, 234, 40, 0.63);
	position: absolute;
	top: 60px;
	left:292px;
	transform: rotate(-103deg);
}

.sidebar {
	min-height: 100%;
	margin-bottom: 30px;
}

.sidebar-up {
	color: #ffffff;
	min-height: 180px;
	margin: 140px auto 40px;
	box-shadow: 0 0 10px 1px rgba(181, 181, 181, 0.5);
	text-align: center;
/*	border: 1px solid rgb(0, 0, 0);*/
	transition: all 0.5s ease;
	border-radius: 10px;
	overflow: hidden;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

.sidebar-up:hover{
	box-shadow: 0 0 10px 1px rgba(181, 181, 181, 0.9);
}

.sidebar-up p{
	font-size: 15px;
}

.sidebar img{
	width:100%;
	height: auto;
	border-radius: 3px;
	padding: 5px;
}

.sidebar-down {
/*	box-shadow: 0 0 6px 2px rgba(181, 181, 181, 0.65);*/
	min-height: 180px;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	transition: all 0.5s ease;
	border-radius: 5px;
	overflow: hidden;
	width: 180px;
}



/*----------------------  О НАС   -----------------------*/

.about{
/*	background-color: aqua;*/
	width: 100%;
	text-align: justify;
	padding-top: 10px;

}
.about img{
	width: 200px;
	margin-left: 20px;
}




/*----------------------  ВИДЫ УСЛУГ   -----------------------*/
.service{
	height: 100%;
	min-height: 400px;
	margin: 0 auto;
/*
	background-image:url(../img/card2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 100px;
*/
}


/*----------------------  ЦЕНЫ   -----------------------*/
table{
	width: 100%;
	min-width: 320px;
}

.table-wrap {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	
}
th {
  padding: 10px; 
  border: 1px solid rgba(226, 234, 40, 0.3);
	background-color: rgba(34, 70, 49, 0.6);
	color: #E3EA28;
	font-weight: normal;
}
td {
  padding: 20px 10px;
  border: 1px solid rgba(226, 234, 40, 0.2);
	background-color: rgba(0, 0, 0, 0.6);
/*	color: black;*/
}


/*----------------------  ГАЛЕРЕЯ   -----------------------*/
.photo{
/*	max-height: 500px;*/
	color: black;
}
.photo h1.tab-title{
	margin-bottom: 20px;
}
.slider-for {
/*	max-width: 550px;*/
	max-height: 300px;
	margin: 0 auto;
}
.slider-for div{
	outline: none;
	margin-bottom: 30px;
	
}
.slider-for img{
	max-width: 430px;
	height: auto;
	margin: 0 auto;
}

.slider-nav{
	max-width: 550px;
	margin: 0 auto;
}
.slider-nav .item {
  width: 50px;
  height: 80px;
	border: 1px solid #E3EA28;
/*  background: red;*/
  margin-right: 15px;
  overflow: hidden;
	outline: none;
	cursor: pointer;
}

/*----------------------  КОНТАКТЫ   -----------------------*/
.contact-list ul{
	list-style: none;
}
.contact-list ul li{
	margin-bottom: 25px;
}
.contact-list i{
	margin-right: 15px;
	color: rgba(226, 234, 40, 0.63);
	font-size: 24px;
}
.map-wrap {
	
}





/*----------------------  КНОПКА   -----------------------*/
.button p {
	margin: 0;
	color: #000000; 
}

.button {
  display: inline-block;
  border: none;
	color: #000000; 
  text-decoration: none;
 	background-color: #E3EA28;
  padding: 5px 30px;
  font-size: 13px;
/*  text-transform: uppercase;*/
  font-weight: 600;
/*  letter-spacing: 3px;*/
  border-radius: 4px;
	min-height: 30px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button::after {
  transition: background-color 0.3s ease;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  left: 0;
}
.button:focus, .button:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.93);
}
.button:hover {
	background-color: #F0F485;
  
}
.button:hover::after {
  opacity: 0.22;
}
.button:active {
  background-color: rgba(255, 255, 255, 0.76);
}
.button:active::after {
  opacity: 0.32;
}


/*------------------------------------- FOOTER ---------------------------------------*/
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	line-height: 20px;
	min-height: 20px;
/*	background-color: rgba(0, 0, 0, 0.9);*/
	background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 80%, rgba(34, 70, 49, 0.79));
	color: rgba(255, 255, 255, 0.7);
	font-size: 13px;
	box-shadow: 0px -2px 3px 0px rgba(226, 234, 40, 0.3);
/*
	border-top: 1px solid rgba(255, 255, 255, 0.91);
	border-top: 1px solid rgba(226, 234, 40, 0.3);
*/
}

footer a{
	color: rgba(255, 255, 255, 0.7);
}

footer a:hover, footer a:focus{
	color: white;
}







