/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
.social span{
	margin-top: 16px;
	margin-right: 20px;
}
	
.head-text-wrap h1{
	font-size: 32px;
}
	
.head-text-wrap p{
	font-size: 16px;
}
.button-head p{
	font-size: 22px;
	margin-bottom: 0;
}
	
nav{
	display: none;
}

.nav-mobile{
	display: block;
	position: absolute;
	top: 62px;
	right: -500px;
	width: 360px;
	background-color: #2C3E50;
	z-index: 2;
	transition: all linear .5s
	
}

	
	.nav-mobile-show{
	right: 0;
	
	}

	.nav-mobile ul li{
	display: block;
	text-align: center;
	border-bottom: 1px solid white;
	

}
	.nav-mobile ul li:last-child{
		border-bottom: none;
	}
	
	.nav-mobile ul li a{
		font-size: 14px;
		display: block;
		line-height: normal;
		padding: 20px 0;
	}
	
	.present-block{
		max-width: 320px;
		margin: 0 auto 70px;
	
	}
	.job-wrap{
		margin-bottom: 30px;
	}
			
}




@media only screen and (max-width : 890px) {
	
.head-img{
	margin-left: 10px;
}
.head-img span img{
	width: 140px;
	right: 155px;
}	
	
	
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.logo{
	padding-left: 20px;
	background-color: #ECF0F1;
	height: 60px;
	max-width: 150px;
}
.social span{
	margin-right: 15px;
}
	.head-text-wrap{
		text-align: center;
		margin-bottom: 40px;
		margin-left: 0;
	}
.head-text-wrap h1{
	font-size: 28px;
	margin: 20px 0;

}
	
.head-text-wrap p{
	margin-bottom: 20px;
}
.button-head p{
	margin-bottom: 0;
}
.button-head{
	padding: 0;
	width: 200px;
	height: 50px;
}
.head-img{
	display: none;
}	
.head-img span img{
	width: 140px;
	left: 155px;
}
.hide-img{
	display: block;
	position: relative;
	left: 100px;
	margin: 0 auto;
	width: 300px;
	margin-bottom: 20px;
}

	
	.job-wrap{
		max-width: 70%;
		margin: 0 auto 30px;
	}
	

	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	header{
		margin-bottom: 40px;
	}
.logo{
	padding-top: 0;
	padding-left: 10px;
	
}
.logo span{
	font-size: 15px;
	padding-top: 0;
}

.logo-name {
	color: #2C3E50;
	margin: 0;
	font-size: 18px;
}

.social span{
	margin-right: 10px;
}
.res{
	padding: 0;
}

.head-text-wrap h1{
	font-size: 24px;
	margin: 20px 0;

}
	

.button-head{
	width: 200px;
	height: 50px;
}
.button-head p{
	font-size: 20px;
}
.hide-img{
	left: 30px;
}	

.about img{
	max-width: 270px;
}
.about-title{
	font-size: 20px;
	margin-bottom: 20px;
	
}
.about-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	
}
.about-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	
}
.about:hover .about-title:after{
	width: 50px;
}
.about:hover .about-title:before{
	width: 50px;
}
	.about-text-title{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 24px;
	}
	.about-text p{
/*		line-height: 1.2;*/
		padding: 0 20px;
		text-align: left;
	}
	.advantage-title{
		margin: 30px 0 20px;
		font-size: 20px;	
	}
.advantage-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.advantage-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.advantage-title:hover:after{
	width: 50px;
}
.advantage-title:hover:before{
	width: 50px;
}
.advantage-circle {
	margin-top: 10px;
}
	.advantage-text{
		margin-top: 10px;
		padding: 0 50px;
		text-align: center;
	}
	.present{
		margin-bottom: 30px;
	}
	.present-title{
		font-size: 20px;
	}
.present-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 10px;
}
.present-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 10px;
}
.present-title:hover:after{
	width: 45px;
}
.present-title:hover:before{
	width: 45px;
}
	.present-text{
		font-size: 16px;
	}
	.present-text h3{
		font-size: 16px;
	}
	.present-block{
		margin-bottom: 40px;
	}

.job-title {
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 50px;
}
.job-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.job-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.job-title:hover:after{
	width: 50px;
}
.job-title:hover:before{
	width: 50px;
}
.job-wrap{
	max-width: 200px;
	margin-bottom: 50px;
	padding: 25px 20px 15px;
	
	}
	.job i{
		font-size: 40px;
		margin-bottom: 10px;
	}
	.portfolio-title{
		margin-bottom: 40px;
		margin-top: 40px;
		font-size: 20px;
	}
.portfolio-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.portfolio-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.portfolio-title:hover:after{
	width: 50px;
}
.portfolio-title:hover:before{
	width: 50px;
}
	.portfolio-text{
		margin-top: 0;
		line-height: 1.2;
		padding: 0 20px;
		margin-bottom: 50px;
	}
	.portfolio-text h2{
		margin-top: 0;
	}
.reviews-title{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 20px;
}
.reviews-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.reviews-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.reviews-title:hover:after{
	width: 50px;
}
.reviews-title:hover:before{
	width: 50px;
}
	.faq{
		margin-top: 0;
	}	
	.slider-slick-wrap img{
		margin: 0 auto;
	}
	.slider-slick-wrap i{
		font-size: 25px;
		padding: 0 8px;
	}
	.slick-item p{
		padding-top: 20px;
	}
	.slick-dots{
		bottom: -45px;
	}
.contact-title{
	font-size: 20px;
}
.contact-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.contact-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.contact:hover .contact-title:after{
	width: 50px;
}
.contact:hover .contact-title:before{
	width: 50px;
}
	.contacts-adres-wrap {
		text-align: center;
		margin-bottom: 30px;
	}
	.forms{
		margin-left: 0;
		max-width: 300px;
		margin: 0 auto 40px;
	}	
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 400px) {
	
.hide-img{
	margin-left: 30px;
}	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}