
body {
	margin: 0 auto;
/*	font-family: 'Roboto', sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
  min-width: 320px;
 	position: relative;
	height: 100%;
	font-size: 16px;
	color: #ECF0F1;
	line-height: normal;
}
a,
a:visited,
a:hover,
a:active,
a:focus {
	color: inherit;
  text-decoration: none;
	border: none;
	outline: none;
}

.hidden {
  display: none; 
}

.pageWrapper {
	max-width: 1400px;
	margin: 0 auto;
	
}


/*//////////////////////////////////////// top-line /////////////////////////////////////////////*/

.top-line{
/*
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
*/
	height: 60px;
	background-color: rgba(41, 128, 185, 0.8);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	font-family: 'Source Sans Pro', sans-serif;
}

.logo{
	padding-left: 20px;
	background-color: #ECF0F1;
	height: 60px;
	width: 100%;
}

.logo span{
	display: block;
	font-weight: 700;
	color: #e74c3c;
	font-size: 20px;
	text-transform: uppercase;
	padding-top: 5px;
}

.logo-name {
	color: #2C3E50;
	margin: 0;
	font-size: 18px;
}
.social{
	padding: 0;
}
.social span{
	position: relative;
	width: 25px;
	height: 25px;
	background-color: #35516d;
	border-radius: 50%;
	display: inline-block;
	margin-top: 6px;
	margin-right: 13px;
	transition: all .3s ease;
}

.social span:hover{
	background-color: #ECF0F1;
}
.social span:hover i{
	color: #2C3E50;
	font-weight:700;
}

.social i{
	position: absolute;
	font-size: 14px;
	transition: all .3s ease;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.phone {
	display: inline-block;
	font-size: 14px;
}
.phone span{
	font-weight: 600;
	font-size: 15px;
	margin-right: 7px;
	
}
.phone a{
	color: #ECF0F1;
	text-decoration:none;
	transition: all .2s ease;
	font-family: 'Open Sans', sans-serif;
}
.phone a:hover{
	color: #bfbfbf;
}

/*//////////////////////////////////////// navigation /////////////////////////////////////////////*/

nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
	font-size: 0;
}

nav ul li{
	display: inline-block;
	line-height: 60px;
}

nav li a{
	display: block;
	padding: 0 20px;
	color: #ECF0F1;
	transition: all .3s ease;
	text-transform: uppercase;
	font-size: 14px;
	
}

nav li a:hover{
	color: #2C3E50;
	background-color: rgba(236, 240, 241, 0.8);
}

.button-mnu{
	display: block;
	width: 48px;
	height: 60px;
	top: -7px;
	cursor: pointer;
	position: relative;
}

.mobile-line{
	position: absolute;
	left: 0;
	display: block;
	width: 25px;
	height: 3px;
	background-color: #ECF0F1;
}

.mobile-line-top{
	top: 24px;
	transition: all linear .5s
}
.mobile-line-middle{
	top: 35px;
	opacity: 1;
	transition: all linear .5s
}
.mobile-line-bottom{
	top: 46px;
	transition: all linear .5s
}

.mobile-line-top.active{
	top: 35px;
	transform: rotate(45deg);
	transition: all linear .5s;
	background-color: #2C3E50;
}
.mobile-line-middle.active{
	opacity: 0;
	
}
.mobile-line-bottom.active{
	top: 35px;
	transform: rotate(-45deg);
	transition: all linear .5s;
	background-color: #2C3E50;
}


/*//////////////////////////////////////// header /////////////////////////////////////////////*/

header {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-bottom: 60px;
/*	padding-top: 60px;*/
}


/*//////////////////////////////////////// header-text /////////////////////////////////////////////*/

.head-text-wrap{
	margin-left: 30px;
}
.head-text-wrap h1{
	margin-top: 80px;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 40px;
	text-shadow: 2px 2px 2px #000000;
	font-family: 'Open Sans', sans-serif;
	
}

.head-text-wrap p{
	font-size: 18px;
	margin-bottom: 50px;
	text-shadow: 2px 2px 2px #000000;
}


.button-head{
	position: relative;
	display: inline-block;
	background-color: transparent;
	background-image: url(../img/button.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 320px;
	height: 70px;
	font-size: 18px;
	transition: all .15s ease;
}

.button-head:hover p{
/*	color: #2C3E50;*/
}

.button-head:active{
	position:relative;
	top:2px;
}
.button-head p{
	transition: all .15s ease;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	margin-bottom: 0;
	text-shadow: none;
}


/*//////////////////////////////////////// header-img /////////////////////////////////////////////*/

.head-img{
	position: relative;
/*	overflow: hidden;*/
	margin-top: 60px;
	margin-left: 50px;
	width: 500px;
	
}
.head-img img{
	width: 400px;
}

.hide-img{
	display: none;
}

.head-img span img{
	position: absolute;
	width: 160px;
	top: 3px;
	right: 140px;
	transform: rotate(15deg);
}


/*//////////////////////////////////////// О НАС /////////////////////////////////////////////*/


.about {
	min-height: 100vh;
	margin-bottom: 30px;
	color: #2C3E50;

}
.about-title{
	margin: 0;
	margin-bottom: 40px;
	font-size: 32px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	
}

.about-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.about-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.about:hover .about-title:after{
	width: 100px;
}
.about:hover .about-title:before{
	width: 100px;
}
.about-text-title {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.about-text p{
	line-height: 1.4;
	padding: 0 20px;
}



/*//////////////////////////////////////// advantage /////////////////////////////////////////////*/
.advantage {
	background-image: url(../img/hd-wallpapers11.jpg);
	background-position: center;
	background-size: cover;
	min-height: 500px;
	margin-bottom: 50px;	
}

.parallax-window-two{
	min-height: 500px;
	background: transparent;
}

.advantage>.container{
/*	padding-top: 50px;*/
	
}

.advantage-title {
	margin: 0;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}
.advantage-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.advantage-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.advantage-title:hover:after{
	width: 100px;
}
.advantage-title:hover:before{
	width: 100px;
}

.advantage-circle {
	position: relative;
	margin: 0 auto;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: 50px;
	border: 2px solid #3498DB;
	transition: all linear .25s;
/*	background-color: #2980B9;*/
}

.advantage-circle:hover{
	color: #ECF0F1;
}

.advantage-circle i{
	position: absolute;
	font-size: 38px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ECF0F1;
}

.advantage-text{
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 40px;
}




/*//////////////////////////////////////// present /////////////////////////////////////////////*/

.present{
	min-height: 600px;
	margin-bottom: 60px;
}

.present-title {
	margin: 0;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
	color: #2C3E50;
}
.present-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.present-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.present-title:hover:after{
	width: 100px;
}
.present-title:hover:before{
	width: 100px;
}



.present-block{
	box-shadow: 0 0 10px 3px rgb(195, 195, 195);
	transition: all linear .3s;
	border-radius: 5px;
	color: #2C3E50;
	padding: 10px;
	max-width: 320px;
	margin: 0 auto;
	min-height: 100%;
/*	background-color: #ECF0F1;*/
}

.present-block:hover{
	box-shadow: 0 0 8px 4px rgb(119, 119, 119);
}


.before-img, .after-img{
	width: 300px;
	height: 300px;
}

.present-text{
	text-align: center;
	font-size: 15px;
}
.present-text h3{
	font-size: 18px;
	font-weight: 600;
}
.present-text p{
	margin-bottom: 20px;
}
.present-text a{
	color: #ECF0F1;
	display: block;
	background: rgb(212,75,56);
	margin: 0 auto 15px;
	padding: 10px;
	width: 200px;
	border-radius: 3px;
	box-shadow: 0px -3px #c12616 inset;
/*	box-shadow: 0 -3px rgb(53,167,110) inset;*/
}
.present-text a:hover{
	background: rgb(232,95,76); 
	box-shadow: 0px 0px inset;
}
.present-text a:active{
	position:relative;
	top:2px;
}
div.ui-draggable.ui-draggable-handle{
	opacity: 1 !important; 
}





/*//////////////////////////////////////// job /////////////////////////////////////////////*/
.parallax-window{
	min-height: 600px;
  background: transparent;
}
.job {
/*	background-image: url(../img/job_bg.jpg);*/
	background-position:left;
	background-size: cover;
	min-height: 600px;
	color: #ECF0F1;
	position: relative;
}

.job-title {
	margin-top: 50px;
	margin-bottom: 80px;
	text-align: center;
	font-size: 32px;
	font-weight: 600;
}
.job-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.job-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.job-title:hover:after{
	width: 100px;
}
.job-title:hover:before{
	width: 100px;
}




.job-wrap {
	background-color: rgba(0, 0, 0, 0);
	padding: 30px 20px;
	transition: all linear .4s;
	border-radius: 5px;
	box-shadow: 0 0 3px 1px #ECF0F1;
	position: relative;
	
}

.job-wrap:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 15px;
	border: 1px solid rgba(231, 76, 60, 0.4);
	content: '';
	opacity: 0;
	transition: opacity 0.4s, transform 0.4s;
	transform: scale(0);
	
}

.job-wrap:hover:before{
	opacity: 1;
	transform: scale(1);
	
}


.job-wrap:hover{
	background-color: rgba(0, 0, 0, 0.5);
	
}
.job-wrap:hover i{
/*	color: #E74C3C;*/
	transform: rotate(360deg);
}

.job i{
	font-size: 46px;
	margin-bottom: 30px;
	transition: all linear .4s;
	color: #3498DB;
}



/*//////////////////////////////////////// portfolio /////////////////////////////////////////////*/

.portfolio{
	min-height: 600px;
	color: #2C3E50;
/*	background-color: #ECF0F1;*/
	background-image: url(../img/portfoto_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
/*	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
	
}

.portfolio-title {
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 32px;
	font-weight: 600;
	color: #2C3E50;
}
.portfolio-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.portfolio-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.portfolio-title:hover:after{
	width: 100px;
}
.portfolio-title:hover:before{
	width: 100px;
}

.fotorama-wrapper {
	max-width: 700px;
	background-color: #d1d1d1;
	padding: 0;
	margin: 0 auto 50px; 
	
}

.fotorama__caption__wrap{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	color: #ECF0F1;
	padding: 20px;
	text-align: center;
	
}

.portfolio-text{
	padding: 40px;
	margin-top: 10px;
}

.portfolio-text h2{
	text-align: center;
}


/*//////////////////////////////////////// reviews /////////////////////////////////////////////*/

.reviews {
	color: #2C3E50;
	min-height: 500px;
	
}

.reviews-title{
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 32px;
	font-weight: 600;
	
}
.reviews-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.reviews-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.reviews-title:hover:after{
	width: 100px;
}
.reviews-title:hover:before{
	width: 100px;
}

.slider-slick-wrap {
	max-width: 550px;
	margin: 60px auto;
}
.slider-slick{
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;

	
	
}

.slick-prev{
	left: 10px;
	position: absolute;
		
}

.slick-next{
	right: 11px;
  position: absolute;
}


.slick-item {
	outline: none;
	cursor: pointer;
	
}
.slick-item p{
	padding-top: 40px;

}



.faq {
  max-width: 500px;
  margin: 0 auto 30px;
}
.faq-title {
  display: block;
  padding: 10px 10px;
  color: #ECF0F1;
  text-decoration: none;
  background-color: #3498DB;
	border-radius: 4px;
	margin-top: 10px;
	
}
.faq-title:hover, .faq-title:focus {
  background-color: #2980B9;
	color: #ECF0F1;
	
}


.faq-content {
  padding: 5px 10px;
  font-size: 16px;
  display: none;
	background-color: #ECF0F1;
}


/*//////////////////////////////////////// contact /////////////////////////////////////////////*/

.contact{
	min-height: 300px;
	background-image: url(../img/footer_bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.contact-title{
	margin: 0;
	margin-bottom: 40px;
	font-size: 32px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	margin: 30px 0;
}
.contact-title:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-left: 20px;
}
.contact-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 2px;
	background: #e74c3c;
	transition: all linear .4s;
	margin-right: 20px;
}
.contact:hover .contact-title:after{
	width: 100px;
}
.contact:hover .contact-title:before{
	width: 100px;
}





.forms{
	background-color: rgba(44, 62, 80, 0.9);
	padding: 20px 30px 30px;
	max-width: 320px;
	color: #ECF0F1;
	border-radius: 4px;
	margin-left: 50px;
/*	box-shadow: 2px 2px 3px #e5e5e5;*/
	margin-bottom: 30px;

}
.forms h3{
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}
.forms p{
	margin-bottom: 20px;
	text-align: center;
	font-size: 16px;

}
.forms input{
	display: block;
	width: 100%;
	height: 40px; 
	margin-bottom: 20px;
	font-size: 18px;
	text-align: center;
	border: none;
	box-shadow: 0 -4px #777777;
	color: black;
}
.forms input:focus{
	box-shadow: 0 -4px #343434;
}
.forms button{
	font-size: 18px;
	padding: 5px 40px;
	background-color: rgb(212,75,56);
	border: none;
/*	transition: all .2s ease;*/
	border-radius: 3px;
	outline: none;
}
.forms button:hover{
	background-color: rgb(232,95,76); 
}

.forms button:active{
	position: relative;
	top: 2px;
}

/*-------кнопка норм---------*/
/*
a.glo{
 color:#00c6ff;
 padding: 10px 20px;
 width:100px;
 text-decoration:none;
 text-align:center;
 margin:20px auto;
 display: block;
 background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#00c6ff);
 background-position: 100% 0;
 background-size: 200% 100%;
 transition: all .25s ease-in;
 font: 400 18px tahoma;
 border: 1px solid #00C6FF;
}
a.glo:hover {
background-position: 0 0;
color:#fff;
}
*/

.footer-line{
	min-height: 30px;
	background-color: rgba(41, 128, 185, 0.7);
	padding: 5px 0;
	color: #ECF0F1;
	font-size: 13px;
	
}
.footer-line span a{
	color: #151c22;
	font-size: 15px;
}
.footer-line a:hover, footer a:focus{
	color: #ECF0F1;
}


/*//////////////////////////////////////// modalDialog /////////////////////////////////////////////*/
/**
 * Fade-move animation for second dialog
 */
#popup-modal {

	padding: 0;
	text-align: left;
	max-width: 320px;
	margin: 40px auto;
	position: relative;
	color: #2C3E50;
}
.mfp-close-btn-in .mfp-close{
	color: #ECF0F1;
}
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}


/*////////////////////////////////////////////////////////////////////////*/

.view {
    width: 300px;
    height: 300px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
/*    background: #fff url(../img/job_bg2.jpg) no-repeat center center;*/
		background-image: url(../img/job_bg2.jpg);
		background-position:bottom;
		background-size: cover;
}
.view .mask, .view .content {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-tenth img {
	transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}
.view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}
.view-tenth:hover img {
	transform: scale(10);
    opacity: 0;
}
.view-tenth:hover .mask {
	opacity: 1;
}
.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info{
    transform: scale(1);
    opacity: 1;
}

